body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  /* margin: 10px; */
  background-color: transparent;
  transition: background-color 0.5s ease;
  z-index: 10;
}

.container h1{
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}
.container ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
}
.Name {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 2.5rem;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: rgba(245, 247, 250, 0.1);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.Name:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

a{
  text-decoration: none;
  color: #333;
  transition: color 0.5s ease;
}
a:hover{
  color: #cd6326;
}
li{
  margin: 0 10px;
}
.H-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.Image{
  width: 50%;
  height: 100vh;
  overflow: hidden; 
}
.Image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Text{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efe6dd;
}
.A-container{
  width: 100%;
  height: 90vh;
}
.Top, .Bottom{
  display: flex;
}
.A-Text{
  width: 50%;
  height: 45vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.box{
  width: 25%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* border: 3px solid black; */
}
.box.yellow{
  background-color: rgb(243, 223, 162);
  /* color:white; */

}
.box.orange{
  background-color: #bb4430;
  color:white
}
.box.dark{
  background-color: #231f20;
  color:white;
}
.box.light{
  background-color: #7ebdc2;
}
.sand{
  background-color: #efe6dd;
}
.container-color{
  background-color: #f5f5f5;
}
.same{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.E-Container{
  height:50vh;
}
.E-Text{
  width: 50%;
  height: 50vh;
  background-color: #f5f5f5;
}
.E-Image {
  width: 50%;
  height: 100%;
  overflow: hidden; 
}
.E-Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.same {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.E-Container {
  height: 120vh;
}
.E-Text {
  width: 50%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-container {
  position: relative;
  height: 60vh;
  background-image: url('https://images.unsplash.com/photo-1504384308090-c894fdcc538d');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.testimonial-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonial-content h1 {
  margin: 0;
  font-size: 2rem;
}

.testimonial-content p {
  font-size: 1rem;
  margin-top: 1rem;
}
.main-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: #fff; 
  background-color: #E9724C;
}

.form-container {
  flex: 6;
  padding: 20px;
}

.form-container h2 {
  margin-bottom: 10px;
  text-align: left;
}

.form-container p {
  margin-bottom: 20px;
  text-align: left;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input,
.form-container textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
  color: rgba(255, 255, 255, 0.6); /* Translucent placeholder text */
}

.form-container button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start; /* Align button to the left */
}

.form-container button:hover {
  background-color: #45a049;
}

.image-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px;
  width: 15vw;
}

.text-container h1 {
  margin-bottom: 10px;
}

.text-container p {
  margin-top: 0;
}
/* src/components/Footer.css */
.footer {
  text-align: center;
  padding: 20vh 0 10vh;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  position: relative;
  bottom: 0;
  width: 100%;
 
}

.footer p {
  margin: 10px 0;
  color: #666;
}

.footer a {
  color: #f39c12;
  text-decoration: none;
}

.footer .social-icons {
  margin: 10px 0;
}

.footer .social-icons a {
  color: #666;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: #f39c12;
}
